.logo {
  height: 74px;
  margin-left: 40px;
}

.header-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #245182 16.94%, #253959 79.95%);
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 0 0 0 10px;
  padding: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.links a {
  color: white;
  margin-right: 38px;
  font-weight: bold;
  font-size: 18px;
}
