.title-container {
	display: flex;
	justify-content: space-around;
}

.bottom {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	padding: 10px 30px;
	margin-left: 30px;
	border: none;
}

.status-container {
	display: flex;
	flex-wrap: wrap;
}

.download {
	margin-left: 100px;
	margin-top: 100px;
	display: flex;
}

.status {
	display: flex;
	margin-top: 100px;
	/*margin-left: -10px;*/
}

.padding-left{
	padding-left: 100px;
}

.key {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-right: 40px;
	white-space: nowrap;
}

.dl-bottom {
	padding: 10px 30px 10px 30px;
	background: #244F7E;
	font-style: normal;
	border-bottom: 1px solid #244F7E;
	font-weight: 600;
	color: white;
	display: block;
	margin-top: 0px;
}

.margin-top-dl {
	margin-top: 14px;
}